/* line 33, ../sass/_base.scss */
body {
  background-color: #efeeef;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 10, ../sass/styles.scss */
.container {
  *zoom: 1;
  max-width: 19em;
  _width: 19em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  overflow: scroll;
}
/* line 38, ../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 39em) {
  /* line 10, ../sass/styles.scss */
  .container {
    max-width: 39em;
  }
}
@media (min-width: 64em) {
  /* line 10, ../sass/styles.scss */
  .container {
    max-width: 64em;
  }
}
/* line 14, ../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
.container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 16, ../sass/styles.scss */
.container h1, .container h2, .container h3,
.container h4, .container h5, .container h6 {
  font-family: "ff-good-headline-web-pro-con", Arial, sans-serif;
  color: #e20079;
  text-transform: uppercase;
}
/* line 22, ../sass/styles.scss */
.container h2 {
  font-weight: 400;
}
/* line 24, ../sass/styles.scss */
.container p {
  font-family: "freight-display-pro", Georgia, serif;
  line-height: 1.5;
}
/* line 30, ../sass/styles.scss */
.container .message {
  color: #000;
  text-align: center;
  margin-bottom: 125px;
}
/* line 35, ../sass/styles.scss */
.container .message h1 {
  margin: 50px auto 20px;
  line-height: .850em;
  font-size: 4em;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 #a40259;
}
/* line 43, ../sass/styles.scss */
.container .message p {
  font-size: 1.250em;
}
/* line 47, ../sass/styles.scss */
.container .individual-thanks .thankyou {
  margin: 100px auto;
  padding: 0 .500em;
}
/* line 51, ../sass/styles.scss */
.container .individual-thanks .thankyou img {
  display: block;
  position: relative;
  bottom: 0;
  width: 150px;
  margin: 50px auto 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 64, ../sass/styles.scss */
.container .individual-thanks .thankyou h2 {
  color: #E20079;
  text-align: center;
  text-transform: uppercase;
}
/* line 69, ../sass/styles.scss */
.container .individual-thanks .thankyou p {
  font-size: 1.125em;
  text-align: left;
  color: #000;
}
@media (min-width: 40em) {
  /* line 81, ../sass/styles.scss */
  .container .message h1 {
    font-size: 7em;
  }
  /* line 82, ../sass/styles.scss */
  .container .message p {
    padding: 0 150px;
  }
  /* line 87, ../sass/styles.scss */
  .container .individual-thanks .thankyou {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
    margin: auto;
    padding: 2em;
  }
  /* line 92, ../sass/styles.scss */
  .container .individual-thanks .thankyou img {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  /* line 98, ../sass/styles.scss */
  .container .individual-thanks .thankyou img:hover {
    bottom: 10px;
  }
  /* line 100, ../sass/styles.scss */
  .container .individual-thanks .thankyou img:hover + h2 {
    color: #E20079;
  }
  /* line 104, ../sass/styles.scss */
  .container .individual-thanks .thankyou h2 {
    color: #000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}
@media (min-width: 65em) {
  /* line 122, ../sass/styles.scss */
  .container .message h1 {
    font-size: 10em;
    margin-top: 125px;
  }
  /* line 123, ../sass/styles.scss */
  .container .message p {
    max-width: 800px;
    margin: auto;
    padding: 0 .250em;
  }
  /* line 129, ../sass/styles.scss */
  .container .individual-thanks .thankyou {
    padding-left: 2.54237%;
    padding-right: 2.54237%;
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin: 25px auto;
  }
}

/* line 140, ../sass/styles.scss */
footer {
  width: 100%;
  margin-top: 100px;
  height: 50px;
  display: table;
  font-family: "freight-display-pro", Georgia, serif;
}
/* line 149, ../sass/styles.scss */
footer .footer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: .750em;
}
/* line 154, ../sass/styles.scss */
footer .footer a {
  text-decoration: none;
  color: #e20079;
}
/* line 155, ../sass/styles.scss */
footer .footer span {
  font-size: .750em;
  color: #e20079;
}
